@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
.LOGO{
    padding-left: 5px;
       font-family: "Roboto Slab", serif;;
  font-weight: 400;
  font-style: normal;
}
.navbar{
      font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  color: #92afcf;
}
.navbar-end{
    color: #92afcf;
}