.about {
  padding: 80px 20px;
  color: var(--text);
}

.page-number {
  font-size: 250px;
  /* opacity: 0.15; */
  /* text-align: center; */
  margin-bottom: -20px;
 
}

.about-h1 {
  font-size: 55px;
  text-align: center;
  margin-bottom: 60px;
  color: var(--text);
  letter-spacing: 2px;
}

.about-core {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 1100px;
  margin: auto;
}

/* Paragraph */
.about-p {
  max-width: 600px;
  line-height: 1.7;
  color: var(--text);
}

/* Image styling */
.about-image img {
  width: 420px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 20px #3c5370;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 900px) {
  .about-core {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about-h1 {
    font-size: 40px;
  }

  .page-number {
    font-size: 50px;
  }

  .about-p {
    font-size: 18px;
  }

  .about-image img {
    width: 300px;
  }
}
