@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
:root{
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
  background-color: #11190c;
}
