@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}
@import url('https://fonts.googleapis.com/css2?family=Asimovian&display=swap');
:root{
 font-family: "Asimovian", sans-serif;
  font-weight: 400;
  color-scheme: dark;
}
html {
  transition: background-color 0.3s, color 0.3s;
}

html.dark {
  --bg: black;
 --text: white;
  background-color: var(--bg);
  color: var(--text);
}

html.light {
  --bg: #ffffff;
  --text: black;
  background-color: var(--bg);
  color: var(--text);
}
.teams{
    font-family: 'Asimovian', sans-serif;
  font-weight: 400;
  font-style: normal;
}